
/*
1 - Posicione o Mário acima do Goomba.
2 - Posicione a tag p para que fique dentro do balão de fala.
3 - Posicione o balão para que se torne uma fala de Bowser. 
*/

.super-mario {
    width: 200px;
    position: absolute;
    z-index: 1;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    z-index: 1;
    top: 400px;
    z-index: 2;
  }
  
  .baloon {
    position: absolute;
    left: 300px;
    z-index: 2;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    top: 120px;
    left: 320px;
    z-index: 4;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    top: 200px;
    left: 600px;
    z-index: 5;
  }
