.heder{
  background-color: rgb(14, 70, 12);
  color: white;
  padding: 25px;
  margin: 0;
}

.liConteudo{
  width: 350px;
  margin-top: 20px;
}

.liConteudo p em{
  font-weight: bolder;
}

.liConteudo p{
  padding: 0px;
  margin: 2px;
}

.liConteudo:nth-child(even) {
  background: #FFF
}

.liConteudo:nth-child(odd) {
  background: #CCC  
}

.footer{
  position: absolute;
  bottom: 0;
  background-color: rgb(117, 115, 115);
  width: 100%;
  padding: 5px;
  padding-left: 15px;
  margin: 0;
}