* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#heder {
    left: 0px;
    top: 0px;
    right: 0px;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    padding: 10px 0px;
    border-bottom: 7px solid #2fc18c;
    background-color: #036b52;
    color: #fff;
}

#titulo {
    margin-left: 28%;
    display: inline-block;
}

#titulo h1 {
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
}

.image-45 {
    display: inline-block;
    margin-left: 40px;
    width: 84px;
    height: 50px;
    max-width: 80%;
}

#harerMain{
    margin-top: 0px;
    padding: 20px;
}

#main{
    color: rgb(93, 96, 99);
    background-color: rgb(234, 237, 240);
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.3;
}

.form-header {
    text-align: center;
}

.speaker-form {
    background-color: rgb(246, 247, 248);
    border: 1px solid rgb(214, 217, 220);
    border-radius: 3px;
    width: 80%;
    padding: 50px;
    margin: 20px auto;
}

.line-content {
    margin-bottom: 20px;
}

.line-content input[type="text"], input[type="email"], input[type="date"] {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(214, 217, 220);
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
}

#data{
    width: 200px;
}

.fieldset {
    padding: 10px;
    border: 1px solid rgb(214, 217, 220);
}

.abstract-style {
    width: 100%;
    height: 60px;
    resize: none;
}

.radio{
    margin-left: 20px;
}

.button{
   width: 200px;
   margin: 10px;
   padding: 10px;
}

