
/* -------------------------------------hader------------------------------------*/
header{
    position: fixed;
    top: 0;
    font-family: sans-serif;
    background-color: rgb(30, 124, 30);    
    color: white;
    font-size: 20px;
    width: 100%; 
    
}

header h1{
    padding: 10px 20px;
}
/* ----------hader nav---------*/
nav{
    margin: 0px 0px;
    background-color: blue;
}

ul{
    margin: 0px 0px;
}

nav ul li{
    display: inline-block;
    margin: 10px 30px;    
}


a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

/* ----------------------------------------Main------------------------------------------*/
/* --------------------------1 seção------------------*/
main{
    display: inline-block;
    border: 2px solid black;
    width: 1000px;
    margin-top: 150px;
    text-align: center;
}
/* --------1 seção------------*/
table, td, th{
    border: 2px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

th, td {
    padding: 5px;
}

th{
    background: rgba(198, 236, 198, 0.897);
}

.imagGeral{
    width: 250px;   
}

/* ------------seção-------------*/

.ImagFatos{
    width: 250px;     
}
img:nth-of-type(1){
    width: 300px;
}

/* ---------------------------------------- Lateral ------------------------------------------*/
#lateral{
    margin-top: 150px;
    vertical-align: top;
    position: fixed;
    right: 0px;
    width: 320px;
    display: inline-block;
    border: 2px solid red;
}